 .navbarMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #e9e8e4;
    background:none ;
  z-index: 997;
  
 }
.navLogo{
    margin-left: 10px;
}
  .nav{
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
    background-color: #052925;
    height: 100vh;
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.26' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .nav-slide-right {

    transition: all 1.2s ease-in-out;
    transform: translateX(0vw);
  }
  
  .nav-slide-left {
    transition: all 0.6s ease-in-out;
    transform: translateX(-170vw);
  }
  .nav1-slide-right {

    transition: all 0.6s ease-in-out;
    transform: translateX(0vw);
    background-color: #042723c6;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #042723c6;
/* box-shadow: 0 8px 32px 0 #042723c6; */
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 );

  }
  
  .nav1-slide-left {
    transition: all 1.6s ease-in-out;
    transform: translateX(-500vw);
    background-color: #042723c6;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #042723c6;
/* box-shadow: 0 8px 32px 0 #042723c6; */
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.26' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  }
  .nav2-slide-right {

    transition: all 1.2s ease-in-out;
    transform: translateY(0vw);
    background-color: #052925c7;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #052925c7;
/* box-shadow: 0 8px 32px 0 #052925c7; */
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23ffffff' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  
  .nav2-slide-left {
    transition: all 1s ease-in-out;
    transform: translateY(-500vw);
    background-color: #052925c7;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #052925c7;
/* box-shadow: 0 8px 32px 0 #052925c7; */
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23ffffff' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");

  }
  .navbar{
    color: #edb970;
    margin-top: 150px;

  }
  .navbar>ul>li{
    list-style: none;
    font-size: 40px;
    font-family: hamlin-bold;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
    z-index: 999;
    
    
  }
  
  
.nav-link{
    text-decoration: none;
    color: #edb970;

}
 
.hambur{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
}
  #hamburger {
   position: relative;

    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    /* width: 50px; */
    padding: 20px;
    right: 0;
    
  justify-content: end;
  /* border: 2px solid red; */
  z-index: 999;

  }
  #hamburger .line {
    fill: none;
    stroke: #edb970;
    stroke-width: 8;
    box-shadow: 5px 5px 10px #000;
    transition: stroke-dasharray 1000ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #hamburger .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
    box-shadow: 5px 5px 10px #000;

  }
  #hamburger .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8;
    box-shadow: 5px 5px 10px #000;

  }
  #hamburger .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
    box-shadow: 5px 5px 10px #000;

  }
  #hamburger.open .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
    stroke: #edb970;
 

  }
  #hamburger.open .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 8;

    stroke: #edb970;

  }
  #hamburger.open .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
    stroke: #edb970;
   

  }